* {
    font-family: 'DynaPuff', sans-serif;
}

.btn{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin-bottom: 70px;
}

.btn:hover {
    background-color: #ffb5b5;
    color: #ff2222;
    transform: translateY(-3px);
    box-shadow: 0 9px 14px rgba(0, 0, 0, 0.5);
}

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('asset/background.png');
    text-align: center;
    margin-top: 4%; 
    padding: 100px 20px 120px 20px;
    overflow: hidden;
    position: relative;
}
  
.hero::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

h1 {
    color: #444;
}

p{
    color: #444;
}

.elemen-es{
    position: absolute;
    bottom: 40px;
    left: 0;
    rotate: 15deg;
}

.water_splash{
    position: absolute;
    bottom: 50px;
    right: 20px;
    rotate: -15deg;
}

.water_splash img{
    width: 25vh;
    height: 220px;
}

/* Card Styling */
.card {
    position: relative;
    border: none;
    background-color: #fce3e3;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    padding: 15px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}  

.card img {
    border-radius: 15px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 5px;
}

.rate {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff0303;
    color: white;
    padding: 5px 10px;
    font-size: 17px;
    font-weight: bold;
}

.card-body {
    padding: 10px 0;
}

.z-index {
    z-index: 6;
}

.card-body h5 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.price {
    font-size: 30px;
    color: #444;
    font-weight: bold;
}

/* Image Styling */
img {
    border-radius: 20px;
}

.transaksi img {
    width: 50%;
}

.favorite img {
    width: 75%;
}

.enjoy img {
    width: 50%;
}

/* Form Styling */
.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

.slider-social {
    display: inline-block;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 13;
}

/* Responsive Styling */
@media (max-width: 992px) {

}

@media (max-width: 800px) {
    .elemen-es img {
        width: 20vh;
        height: 200px;
    }
    
    .water_splash img{
        width: 20vh;
        height: 200px;
    }
}

@media (max-width: 576px) {
    .elemen-es img {
        width: 15vh;
        height: 180px;
    }
    
    .water_splash img{
        width: 15vh;
        height: 180px;
    }
}
